docs/n8n-workflows/01-calendly-send-booking-link.json
{"updatedAt":"2026-03-28T10:31:31.144Z","createdAt":"2026-03-18T00:41:15.145Z","id":"RiUxadHC2M8crVVp","name":"Acestone CRM — 1. Send Calendly Booking Link","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-crm","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"id":"4d2a23e7-9d8b-4f43-8f77-0080e3b24538","webhookId":"3c379ac1-2216-437f-8d13-d9df915d5542"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond to App","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,528],"id":"2a231b3d-b041-4468-a307-e7d22bb7afe4"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.calendly_sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is calendly_sent?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[464,304],"id":"3f165948-d9b9-4315-a15e-0df3254e6ddd"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"trackingUrl","value":"={{ ($json.body.crmData.calendlyLink || 'https://calendly.com/acestone-development') + '?utm_content=' + $json.body.lead.id }}","type":"string"}]},"options":{}},"name":"Extract Lead Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,304],"id":"e7c68195-4ce8-4b86-ac65-26a02c78af48"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Lead Data').item.json.customerEmail }}","subject":"Book Your Free Consultation — Acestone Development","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Lead Data').item.json.firstName }},</h2><p>Thanks for reaching out to Acestone Development! Click below to book a free consultation:</p><div style=\"text-align:center;margin:30px 0\"><a href=\"{{ $('Extract Lead Data').item.json.trackingUrl }}\" style=\"background:#2563eb;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-size:16px;font-weight:bold\">Book Your Consultation</a></div><p>During the consultation we will discuss your vision, timeline, and provide a detailed estimate.</p><p style=\"color:#666\">Best regards,<br/>Acestone Development Team<br/>(929) 224-9148</p></div>","options":{}},"name":"Send Booking Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[912,304],"id":"bd4d02f9-525f-43b9-8028-732c5685cbbe","webhookId":"1d4793fb-ad14-4c5a-8d6f-342144a32d0f","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Lead Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"calendly_sent\",\"calendlySentAt\":\"{{ $now.toISO() }}\"},\"action\":\"Calendly booking link emailed to customer\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,304],"id":"f4bfd14d-92d8-4d23-849e-512c0decc1e4"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond to App","type":"main","index":0},{"node":"Is calendly_sent?","type":"main","index":0}]]},"Is calendly_sent?":{"main":[[{"node":"Extract Lead Data","type":"main","index":0}]]},"Extract Lead Data":{"main":[[{"node":"Send Booking Email","type":"main","index":0}]]},"Send Booking Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69534d64-5a6f-4524-8e64-65826bce8227","activeVersionId":"69534d64-5a6f-4524-8e64-65826bce8227","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-03-18T00:41:15.151Z","createdAt":"2026-03-18T00:41:15.151Z","role":"workflow:owner","workflowId":"RiUxadHC2M8crVVp","projectId":"ZGD1mLXBH5u7dZho","project":{"updatedAt":"2026-03-18T00:39:52.372Z","createdAt":"2026-03-17T23:47:47.232Z","id":"ZGD1mLXBH5u7dZho","name":"Chad Watson <chad@coreorange.com>","type":"personal","icon":null,"description":null,"creatorId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T10:31:31.146Z","createdAt":"2026-03-28T10:31:31.146Z","versionId":"69534d64-5a6f-4524-8e64-65826bce8227","workflowId":"RiUxadHC2M8crVVp","nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-crm","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"id":"4d2a23e7-9d8b-4f43-8f77-0080e3b24538","webhookId":"3c379ac1-2216-437f-8d13-d9df915d5542"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond to App","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,528],"id":"2a231b3d-b041-4468-a307-e7d22bb7afe4"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.calendly_sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is calendly_sent?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[464,304],"id":"3f165948-d9b9-4315-a15e-0df3254e6ddd"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"trackingUrl","value":"={{ ($json.body.crmData.calendlyLink || 'https://calendly.com/acestone-development') + '?utm_content=' + $json.body.lead.id }}","type":"string"}]},"options":{}},"name":"Extract Lead Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,304],"id":"e7c68195-4ce8-4b86-ac65-26a02c78af48"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Lead Data').item.json.customerEmail }}","subject":"Book Your Free Consultation — Acestone Development","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Lead Data').item.json.firstName }},</h2><p>Thanks for reaching out to Acestone Development! Click below to book a free consultation:</p><div style=\"text-align:center;margin:30px 0\"><a href=\"{{ $('Extract Lead Data').item.json.trackingUrl }}\" style=\"background:#2563eb;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-size:16px;font-weight:bold\">Book Your Consultation</a></div><p>During the consultation we will discuss your vision, timeline, and provide a detailed estimate.</p><p style=\"color:#666\">Best regards,<br/>Acestone Development Team<br/>(929) 224-9148</p></div>","options":{}},"name":"Send Booking Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[912,304],"id":"bd4d02f9-525f-43b9-8028-732c5685cbbe","webhookId":"1d4793fb-ad14-4c5a-8d6f-342144a32d0f","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Lead Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"calendly_sent\",\"calendlySentAt\":\"{{ $now.toISO() }}\"},\"action\":\"Calendly booking link emailed to customer\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,304],"id":"f4bfd14d-92d8-4d23-849e-512c0decc1e4"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond to App","type":"main","index":0},{"node":"Is calendly_sent?","type":"main","index":0}]]},"Is calendly_sent?":{"main":[[{"node":"Extract Lead Data","type":"main","index":0}]]},"Extract Lead Data":{"main":[[{"node":"Send Booking Email","type":"main","index":0}]]},"Send Booking Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"authors":"Chad Watson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T10:31:31.206Z","id":154,"workflowId":"RiUxadHC2M8crVVp","versionId":"69534d64-5a6f-4524-8e64-65826bce8227","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:17.694Z","id":162,"workflowId":"RiUxadHC2M8crVVp","versionId":"69534d64-5a6f-4524-8e64-65826bce8227","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:31:31.186Z","id":153,"workflowId":"RiUxadHC2M8crVVp","versionId":"69534d64-5a6f-4524-8e64-65826bce8227","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:17.679Z","id":161,"workflowId":"RiUxadHC2M8crVVp","versionId":"69534d64-5a6f-4524-8e64-65826bce8227","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}]}}