docs/n8n-workflows/01-calendly-send-booking-link.json
{
  "name": "Acestone CRM — 1. Send Calendly Link",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acestone-crm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "CRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "acestone-crm"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to App",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "filter-calendly-sent",
              "leftValue": "={{ $json.event }}",
              "rightValue": "crm.calendly_sent",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Is calendly_sent?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "leadId", "value": "={{ $json.lead.id }}", "type": "string" },
            { "id": "a2", "name": "customerName", "value": "={{ $json.lead.fullName }}", "type": "string" },
            { "id": "a3", "name": "customerEmail", "value": "={{ $json.lead.email }}", "type": "string" },
            { "id": "a4", "name": "firstName", "value": "={{ $json.lead.fullName.split(' ')[0] }}", "type": "string" },
            { "id": "a5", "name": "calendlyLink", "value": "={{ $json.crmData.calendlyLink || 'https://calendly.com/acestone-development' }}", "type": "string" },
            { "id": "a6", "name": "sentAt", "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-vars",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@acestonellc.com",
        "toEmail": "={{ $('Extract Lead Data').item.json.customerEmail }}",
        "subject": "Schedule Your Free Consultation — Acestone Development",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1a1a1a;\">Hi {{ $('Extract Lead Data').item.json.firstName }},</h2>\n  <p>Thank you for requesting a quote from <strong>Acestone Development</strong>!</p>\n  <p>We'd love to schedule a free consultation to discuss your project in detail. Please pick a time that works for you:</p>\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $('Extract Lead Data').item.json.calendlyLink }}?utm_content={{ $('Extract Lead Data').item.json.leadId }}\" style=\"background: #2563eb; color: white; padding: 14px 28px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: bold;\">Book Your Consultation</a>\n  </div>\n  <p>During this meeting, we'll:</p>\n  <ul>\n    <li>Review your project requirements</li>\n    <li>Discuss timeline and materials</li>\n    <li>Provide a detailed estimate</li>\n  </ul>\n  <p style=\"color: #666;\">Best regards,<br/>Acestone Development Team<br/>(929) 224-9148</p>\n</div>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Calendly Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.coreorangelabs.com/api/n8n/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{ $('Extract Lead Data').item.json.leadId }}\",\n  \"crmData\": {\n    \"crmStatus\": \"calendly_sent\",\n    \"calendlySentAt\": \"{{ $('Extract Lead Data').item.json.sentAt }}\"\n  },\n  \"action\": \"Calendly booking link emailed to customer\"\n}",
        "options": {}
      },
      "id": "callback-app",
      "name": "Update App CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "CRM Webhook": {
      "main": [
        [
          { "node": "Respond to App", "type": "main", "index": 0 },
          { "node": "Is calendly_sent?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is calendly_sent?": {
      "main": [
        [{ "node": "Extract Lead Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [{ "node": "Send Calendly Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Calendly Email": {
      "main": [
        [{ "node": "Update App CRM", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
