docs/n8n-workflows/02-calendly-booking-received.json
{
  "name": "Acestone CRM — 2. Calendly Booking Received",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acestone-calendly-booked",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "calendly-webhook",
      "name": "Calendly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "acestone-calendly-booked"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-event",
              "leftValue": "={{ $json.body?.event || $json.event || '' }}",
              "rightValue": "invitee.created",
              "operator": { "type": "string", "operation": "contains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-booking",
      "name": "Is Booking Event?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "inviteeEmail", "value": "={{ $json.body?.payload?.invitee?.email || $json.payload?.invitee?.email || $json.email || '' }}", "type": "string" },
            { "id": "b2", "name": "inviteeName", "value": "={{ $json.body?.payload?.invitee?.name || $json.payload?.invitee?.name || $json.name || '' }}", "type": "string" },
            { "id": "b3", "name": "meetingStart", "value": "={{ $json.body?.payload?.scheduled_event?.start_time || $json.payload?.scheduled_event?.start_time || $json.start_time || '' }}", "type": "string" },
            { "id": "b4", "name": "leadId", "value": "={{ $json.body?.payload?.tracking?.utm_content || $json.payload?.tracking?.utm_content || '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "extract-booking",
      "name": "Extract Booking Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.coreorangelabs.com/api/webhooks/calendly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"invitee.created\",\n  \"leadId\": \"{{ $('Extract Booking Data').item.json.leadId }}\",\n  \"email\": \"{{ $('Extract Booking Data').item.json.inviteeEmail }}\",\n  \"name\": \"{{ $('Extract Booking Data').item.json.inviteeName }}\",\n  \"start_time\": \"{{ $('Extract Booking Data').item.json.meetingStart }}\",\n  \"payload\": {\n    \"invitee\": {\n      \"email\": \"{{ $('Extract Booking Data').item.json.inviteeEmail }}\",\n      \"name\": \"{{ $('Extract Booking Data').item.json.inviteeName }}\"\n    },\n    \"scheduled_event\": {\n      \"start_time\": \"{{ $('Extract Booking Data').item.json.meetingStart }}\"\n    },\n    \"tracking\": {\n      \"utm_content\": \"{{ $('Extract Booking Data').item.json.leadId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "forward-to-app",
      "name": "Forward to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@acestonellc.com",
        "toEmail": "admin@acestonellc.com",
        "subject": "=Meeting Booked — {{ $('Extract Booking Data').item.json.inviteeName }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #1a1a1a;\">New Meeting Booked</h2>\n  <p><strong>{{ $('Extract Booking Data').item.json.inviteeName }}</strong> has booked a consultation.</p>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    <tr><td style=\"padding: 8px; font-weight: bold;\">Email:</td><td style=\"padding: 8px;\">{{ $('Extract Booking Data').item.json.inviteeEmail }}</td></tr>\n    <tr style=\"background: #f5f5f5;\"><td style=\"padding: 8px; font-weight: bold;\">Meeting Time:</td><td style=\"padding: 8px;\">{{ $('Extract Booking Data').item.json.meetingStart }}</td></tr>\n  </table>\n</div>",
        "options": {}
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Calendly Webhook": {
      "main": [
        [{ "node": "Is Booking Event?", "type": "main", "index": 0 }]
      ]
    },
    "Is Booking Event?": {
      "main": [
        [{ "node": "Extract Booking Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Booking Data": {
      "main": [
        [
          { "node": "Forward to App", "type": "main", "index": 0 },
          { "node": "Notify Admin", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
