docs/n8n-workflows/02-calendly-booking-received.json
{"updatedAt":"2026-03-28T01:21:37.003Z","createdAt":"2026-03-28T00:07:35.160Z","id":"d9TfKKhEwKAgORV9","name":"Acestone CRM — 2. Calendly Booking Received","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-calendly-booked","responseMode":"lastNode","options":{}},"name":"Calendly Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"55fe4dd3-a047-4e53-b9b3-56fbabe5dd1e","webhookId":"9a702380-0b70-472a-a706-590eea05a31d"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.body?.event || $json.event || '' }}","rightValue":"invitee.created","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"name":"Is Booking Event?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"9d469bd6-faa6-4ebf-a51b-2762e5f2bf4d"},{"parameters":{"assignments":{"assignments":[{"name":"inviteeEmail","value":"={{ $json.body?.payload?.invitee?.email || $json.payload?.invitee?.email || $json.email || '' }}","type":"string"},{"name":"inviteeName","value":"={{ $json.body?.payload?.invitee?.name || $json.payload?.invitee?.name || $json.name || '' }}","type":"string"},{"name":"meetingStart","value":"={{ $json.body?.payload?.scheduled_event?.start_time || $json.payload?.scheduled_event?.start_time || $json.start_time || '' }}","type":"string"},{"name":"leadId","value":"={{ $json.body?.payload?.tracking?.utm_content || $json.payload?.tracking?.utm_content || '' }}","type":"string"}]},"options":{}},"name":"Extract Booking Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"51a21570-867c-41a1-943c-2074e458fe09"},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/webhooks/calendly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"event\":\"invitee.created\",\"leadId\":\"{{ $('Extract Booking Data').item.json.leadId }}\",\"email\":\"{{ $('Extract Booking Data').item.json.inviteeEmail }}\",\"name\":\"{{ $('Extract Booking Data').item.json.inviteeName }}\",\"start_time\":\"{{ $('Extract Booking Data').item.json.meetingStart }}\"}","options":{}},"name":"Forward to App","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300],"id":"8476910c-828d-46cb-9271-2b6dfef34f5d"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"admin@acestonellc.com","subject":"=Meeting Booked — {{ $('Extract Booking Data').item.json.inviteeName }}","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif\"><h2>New Meeting Booked</h2><p><strong>{{ $('Extract Booking Data').item.json.inviteeName }}</strong> has booked a consultation.</p><p>Email: {{ $('Extract Booking Data').item.json.inviteeEmail }}</p><p>Time: {{ $('Extract Booking Data').item.json.meetingStart }}</p></div>","options":{}},"name":"Notify Admin","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,500],"id":"6af32e50-c022-4877-a3ad-1e5217005943","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}}],"connections":{"Calendly Webhook":{"main":[[{"node":"Is Booking Event?","type":"main","index":0}]]},"Is Booking Event?":{"main":[[{"node":"Extract Booking Data","type":"main","index":0}]]},"Extract Booking Data":{"main":[[{"node":"Forward to App","type":"main","index":0},{"node":"Notify Admin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b08751c0-64a8-412f-ac8a-ce163b56da9e","activeVersionId":"b08751c0-64a8-412f-ac8a-ce163b56da9e","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-03-28T00:07:35.162Z","createdAt":"2026-03-28T00:07:35.162Z","role":"workflow:owner","workflowId":"d9TfKKhEwKAgORV9","projectId":"ZGD1mLXBH5u7dZho","project":{"updatedAt":"2026-03-18T00:39:52.372Z","createdAt":"2026-03-17T23:47:47.232Z","id":"ZGD1mLXBH5u7dZho","name":"Chad Watson <chad@coreorange.com>","type":"personal","icon":null,"description":null,"creatorId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T01:24:28.000Z","createdAt":"2026-03-28T01:21:37.005Z","versionId":"b08751c0-64a8-412f-ac8a-ce163b56da9e","workflowId":"d9TfKKhEwKAgORV9","nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-calendly-booked","responseMode":"lastNode","options":{}},"name":"Calendly Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"55fe4dd3-a047-4e53-b9b3-56fbabe5dd1e","webhookId":"9a702380-0b70-472a-a706-590eea05a31d"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.body?.event || $json.event || '' }}","rightValue":"invitee.created","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"name":"Is Booking Event?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"9d469bd6-faa6-4ebf-a51b-2762e5f2bf4d"},{"parameters":{"assignments":{"assignments":[{"name":"inviteeEmail","value":"={{ $json.body?.payload?.invitee?.email || $json.payload?.invitee?.email || $json.email || '' }}","type":"string"},{"name":"inviteeName","value":"={{ $json.body?.payload?.invitee?.name || $json.payload?.invitee?.name || $json.name || '' }}","type":"string"},{"name":"meetingStart","value":"={{ $json.body?.payload?.scheduled_event?.start_time || $json.payload?.scheduled_event?.start_time || $json.start_time || '' }}","type":"string"},{"name":"leadId","value":"={{ $json.body?.payload?.tracking?.utm_content || $json.payload?.tracking?.utm_content || '' }}","type":"string"}]},"options":{}},"name":"Extract Booking Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"51a21570-867c-41a1-943c-2074e458fe09"},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/webhooks/calendly","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"event\":\"invitee.created\",\"leadId\":\"{{ $('Extract Booking Data').item.json.leadId }}\",\"email\":\"{{ $('Extract Booking Data').item.json.inviteeEmail }}\",\"name\":\"{{ $('Extract Booking Data').item.json.inviteeName }}\",\"start_time\":\"{{ $('Extract Booking Data').item.json.meetingStart }}\"}","options":{}},"name":"Forward to App","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,300],"id":"8476910c-828d-46cb-9271-2b6dfef34f5d"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"admin@acestonellc.com","subject":"=Meeting Booked — {{ $('Extract Booking Data').item.json.inviteeName }}","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif\"><h2>New Meeting Booked</h2><p><strong>{{ $('Extract Booking Data').item.json.inviteeName }}</strong> has booked a consultation.</p><p>Email: {{ $('Extract Booking Data').item.json.inviteeEmail }}</p><p>Time: {{ $('Extract Booking Data').item.json.meetingStart }}</p></div>","options":{}},"name":"Notify Admin","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,500],"id":"6af32e50-c022-4877-a3ad-1e5217005943","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}}],"connections":{"Calendly Webhook":{"main":[[{"node":"Is Booking Event?","type":"main","index":0}]]},"Is Booking Event?":{"main":[[{"node":"Extract Booking Data","type":"main","index":0}]]},"Extract Booking Data":{"main":[[{"node":"Forward to App","type":"main","index":0},{"node":"Notify Admin","type":"main","index":0}]]}},"authors":"Chad Watson","name":"Version b08751c0","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T01:21:37.094Z","id":128,"workflowId":"d9TfKKhEwKAgORV9","versionId":"b08751c0-64a8-412f-ac8a-ce163b56da9e","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T01:24:28.766Z","id":138,"workflowId":"d9TfKKhEwKAgORV9","versionId":"b08751c0-64a8-412f-ac8a-ce163b56da9e","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T01:24:04.630Z","id":137,"workflowId":"d9TfKKhEwKAgORV9","versionId":"b08751c0-64a8-412f-ac8a-ce163b56da9e","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}]}}