docs/n8n-workflows/03-estimate-email.json
{"updatedAt":"2026-03-28T10:31:31.338Z","createdAt":"2026-03-28T00:08:03.752Z","id":"ykLveQ7FQAOV3Zzw","name":"Acestone CRM — 3. Send Estimate Email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-estimate","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"81d37968-0a3c-4086-988f-9ec7b911d605","webhookId":"6d505b9f-a5bd-4eaf-a5ef-d10b4d8fc0ac"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[460,520],"id":"8dada1c9-1998-4f55-b5ab-97b2904e791c"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.estimate_sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is estimate_sent?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"3ea5584f-5d46-4a87-b636-9b7dc455e35f"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"estimate","value":"={{ $json.body.crmData.detailedEstimate || $json.body.lead.quote || '0' }}","type":"string"},{"name":"jobType","value":"={{ $json.body.lead.jobType || 'home improvement' }}","type":"string"},{"name":"meetingNotes","value":"={{ $json.body.crmData.meetingNotes || '' }}","type":"string"}]},"options":{}},"name":"Extract Estimate Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"544cb714-5ccd-4c95-ab47-f5a336d13dae"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Estimate Data').item.json.customerEmail }}","subject":"=Your Detailed Estimate — ${{ $('Extract Estimate Data').item.json.estimate }} — Acestone Development","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Estimate Data').item.json.firstName }},</h2><p>Thank you for meeting with us! Here is your estimate for your <strong>{{ $('Extract Estimate Data').item.json.jobType }}</strong> project:</p><div style=\"background:#f8f9fa;border-radius:8px;padding:20px;margin:20px 0;text-align:center\"><p style=\"font-size:14px;color:#666;margin:0\">Estimated Project Cost</p><p style=\"font-size:32px;color:#2563eb;font-weight:bold;margin:8px 0\">${{ $('Extract Estimate Data').item.json.estimate }}</p></div>{{ $('Extract Estimate Data').item.json.meetingNotes ? '<div style=\"background:#f0f9ff;border-left:4px solid #2563eb;padding:12px 16px;margin:16px 0\"><p style=\"font-weight:bold;margin:0 0 8px\">Project Notes:</p><p style=\"margin:0;color:#333\">' + $('Extract Estimate Data').item.json.meetingNotes + '</p></div>' : '' }}<p>This estimate includes materials, labor, and project management. To proceed, we will send you a formal contract.</p><p>Questions? Call us at <strong>(929) 224-9148</strong>.</p><p style=\"color:#666\">Best regards,<br/>Acestone Development Team</p></div>","options":{}},"name":"Send Estimate Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,300],"id":"1c5a1d8d-095a-47af-9e55-a185caca071c","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Estimate Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"estimate_sent\",\"estimateSentAt\":\"{{ $now.toISO() }}\"},\"action\":\"Detailed estimate emailed to customer (${{ $('Extract Estimate Data').item.json.estimate }})\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"f44b59c8-72ec-4722-a8f3-5afd92f73832"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Is estimate_sent?","type":"main","index":0}]]},"Is estimate_sent?":{"main":[[{"node":"Extract Estimate Data","type":"main","index":0}]]},"Extract Estimate Data":{"main":[[{"node":"Send Estimate Email","type":"main","index":0}]]},"Send Estimate Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"30745a5d-be2f-47df-b630-931c2951bb8c","activeVersionId":"30745a5d-be2f-47df-b630-931c2951bb8c","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-03-28T00:08:03.755Z","createdAt":"2026-03-28T00:08:03.755Z","role":"workflow:owner","workflowId":"ykLveQ7FQAOV3Zzw","projectId":"ZGD1mLXBH5u7dZho","project":{"updatedAt":"2026-03-18T00:39:52.372Z","createdAt":"2026-03-17T23:47:47.232Z","id":"ZGD1mLXBH5u7dZho","name":"Chad Watson <chad@coreorange.com>","type":"personal","icon":null,"description":null,"creatorId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T10:31:31.339Z","createdAt":"2026-03-28T10:31:31.339Z","versionId":"30745a5d-be2f-47df-b630-931c2951bb8c","workflowId":"ykLveQ7FQAOV3Zzw","nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-estimate","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"81d37968-0a3c-4086-988f-9ec7b911d605","webhookId":"6d505b9f-a5bd-4eaf-a5ef-d10b4d8fc0ac"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[460,520],"id":"8dada1c9-1998-4f55-b5ab-97b2904e791c"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.estimate_sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is estimate_sent?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"3ea5584f-5d46-4a87-b636-9b7dc455e35f"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"estimate","value":"={{ $json.body.crmData.detailedEstimate || $json.body.lead.quote || '0' }}","type":"string"},{"name":"jobType","value":"={{ $json.body.lead.jobType || 'home improvement' }}","type":"string"},{"name":"meetingNotes","value":"={{ $json.body.crmData.meetingNotes || '' }}","type":"string"}]},"options":{}},"name":"Extract Estimate Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"544cb714-5ccd-4c95-ab47-f5a336d13dae"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Estimate Data').item.json.customerEmail }}","subject":"=Your Detailed Estimate — ${{ $('Extract Estimate Data').item.json.estimate }} — Acestone Development","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Estimate Data').item.json.firstName }},</h2><p>Thank you for meeting with us! Here is your estimate for your <strong>{{ $('Extract Estimate Data').item.json.jobType }}</strong> project:</p><div style=\"background:#f8f9fa;border-radius:8px;padding:20px;margin:20px 0;text-align:center\"><p style=\"font-size:14px;color:#666;margin:0\">Estimated Project Cost</p><p style=\"font-size:32px;color:#2563eb;font-weight:bold;margin:8px 0\">${{ $('Extract Estimate Data').item.json.estimate }}</p></div>{{ $('Extract Estimate Data').item.json.meetingNotes ? '<div style=\"background:#f0f9ff;border-left:4px solid #2563eb;padding:12px 16px;margin:16px 0\"><p style=\"font-weight:bold;margin:0 0 8px\">Project Notes:</p><p style=\"margin:0;color:#333\">' + $('Extract Estimate Data').item.json.meetingNotes + '</p></div>' : '' }}<p>This estimate includes materials, labor, and project management. To proceed, we will send you a formal contract.</p><p>Questions? Call us at <strong>(929) 224-9148</strong>.</p><p style=\"color:#666\">Best regards,<br/>Acestone Development Team</p></div>","options":{}},"name":"Send Estimate Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,300],"id":"1c5a1d8d-095a-47af-9e55-a185caca071c","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Estimate Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"estimate_sent\",\"estimateSentAt\":\"{{ $now.toISO() }}\"},\"action\":\"Detailed estimate emailed to customer (${{ $('Extract Estimate Data').item.json.estimate }})\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"f44b59c8-72ec-4722-a8f3-5afd92f73832"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Is estimate_sent?","type":"main","index":0}]]},"Is estimate_sent?":{"main":[[{"node":"Extract Estimate Data","type":"main","index":0}]]},"Extract Estimate Data":{"main":[[{"node":"Send Estimate Email","type":"main","index":0}]]},"Send Estimate Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"authors":"Chad Watson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T10:31:31.395Z","id":156,"workflowId":"ykLveQ7FQAOV3Zzw","versionId":"30745a5d-be2f-47df-b630-931c2951bb8c","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:17.934Z","id":164,"workflowId":"ykLveQ7FQAOV3Zzw","versionId":"30745a5d-be2f-47df-b630-931c2951bb8c","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:31:31.376Z","id":155,"workflowId":"ykLveQ7FQAOV3Zzw","versionId":"30745a5d-be2f-47df-b630-931c2951bb8c","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:17.912Z","id":163,"workflowId":"ykLveQ7FQAOV3Zzw","versionId":"30745a5d-be2f-47df-b630-931c2951bb8c","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}]}}