docs/n8n-workflows/03-estimate-email.json
{
  "name": "Acestone CRM — 3. Send Estimate Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acestone-estimate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "CRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "acestone-estimate"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-estimate",
              "leftValue": "={{ $json.event }}",
              "rightValue": "crm.estimate_sent",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Is estimate_sent?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e1", "name": "leadId", "value": "={{ $json.lead.id }}", "type": "string" },
            { "id": "e2", "name": "customerName", "value": "={{ $json.lead.fullName }}", "type": "string" },
            { "id": "e3", "name": "customerEmail", "value": "={{ $json.lead.email }}", "type": "string" },
            { "id": "e4", "name": "firstName", "value": "={{ $json.lead.fullName.split(' ')[0] }}", "type": "string" },
            { "id": "e5", "name": "estimate", "value": "={{ $json.crmData.detailedEstimate || $json.lead.quote || '0' }}", "type": "string" },
            { "id": "e6", "name": "jobType", "value": "={{ $json.lead.jobType || 'home improvement' }}", "type": "string" },
            { "id": "e7", "name": "meetingNotes", "value": "={{ $json.crmData.meetingNotes || '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Estimate Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@acestonellc.com",
        "toEmail": "={{ $('Extract Estimate Data').item.json.customerEmail }}",
        "subject": "=Your Detailed Estimate — ${{ $('Extract Estimate Data').item.json.estimate }} — Acestone Development",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1a1a1a;\">Hi {{ $('Extract Estimate Data').item.json.firstName }},</h2>\n  <p>Thank you for meeting with us! Based on our consultation, here's your detailed estimate for your <strong>{{ $('Extract Estimate Data').item.json.jobType }}</strong> project:</p>\n  <div style=\"background: #f8f9fa; border-radius: 8px; padding: 20px; margin: 20px 0; text-align: center;\">\n    <p style=\"font-size: 14px; color: #666; margin: 0;\">Estimated Project Cost</p>\n    <p style=\"font-size: 32px; color: #2563eb; font-weight: bold; margin: 8px 0;\">${{ $('Extract Estimate Data').item.json.estimate }}</p>\n  </div>\n  {{ $('Extract Estimate Data').item.json.meetingNotes ? '<div style=\"background: #f0f9ff; border-left: 4px solid #2563eb; padding: 12px 16px; margin: 16px 0;\"><p style=\"font-weight: bold; margin: 0 0 8px;\">Project Notes:</p><p style=\"margin: 0; color: #333;\">' + $('Extract Estimate Data').item.json.meetingNotes + '</p></div>' : '' }}\n  <p>This estimate includes materials, labor, and project management. If you'd like to proceed, we'll send you a formal contract for review and digital signature.</p>\n  <p>If you have any questions, feel free to call us at <strong>(929) 224-9148</strong> or reply to this email.</p>\n  <p style=\"color: #666;\">Best regards,<br/>Acestone Development Team</p>\n</div>",
        "options": {}
      },
      "id": "send-estimate-email",
      "name": "Send Estimate Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.coreorangelabs.com/api/n8n/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{ $('Extract Estimate Data').item.json.leadId }}\",\n  \"crmData\": {\n    \"crmStatus\": \"estimate_sent\",\n    \"estimateSentAt\": \"{{ $now.toISO() }}\"\n  },\n  \"action\": \"Detailed estimate emailed to customer (${{ $('Extract Estimate Data').item.json.estimate }})\"\n}",
        "options": {}
      },
      "id": "callback-app",
      "name": "Update App CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "CRM Webhook": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Is estimate_sent?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is estimate_sent?": {
      "main": [
        [{ "node": "Extract Estimate Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Estimate Data": {
      "main": [
        [{ "node": "Send Estimate Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Estimate Email": {
      "main": [
        [{ "node": "Update App CRM", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
