docs/n8n-workflows/04-contract-send.json
{
  "name": "Acestone CRM — 4. Send Contract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acestone-contract",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "CRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "acestone-contract"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-contract",
              "leftValue": "={{ $json.event }}",
              "rightValue": "crm.contract_sent",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Is contract_sent?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "leadId", "value": "={{ $json.lead.id }}", "type": "string" },
            { "id": "c2", "name": "customerName", "value": "={{ $json.lead.fullName }}", "type": "string" },
            { "id": "c3", "name": "customerEmail", "value": "={{ $json.lead.email }}", "type": "string" },
            { "id": "c4", "name": "firstName", "value": "={{ $json.lead.fullName.split(' ')[0] }}", "type": "string" },
            { "id": "c5", "name": "contractAmount", "value": "={{ $json.crmData.contractAmount || $json.crmData.detailedEstimate || '0' }}", "type": "string" },
            { "id": "c6", "name": "depositPercent", "value": "={{ $json.crmData.contractDepositPercent || '25' }}", "type": "string" },
            { "id": "c7", "name": "scopeOfWork", "value": "={{ $json.crmData.contractNotes || 'As discussed during consultation.' }}", "type": "string" },
            { "id": "c8", "name": "depositAmount", "value": "={{ Math.round(Number($json.crmData.contractAmount || 0) * Number($json.crmData.contractDepositPercent || 25) / 100) }}", "type": "string" },
            { "id": "c9", "name": "signUrl", "value": "=https://app.coreorangelabs.com/api/webhooks/contract-signed", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Contract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@acestonellc.com",
        "toEmail": "={{ $('Extract Contract Data').item.json.customerEmail }}",
        "subject": "=Your Contract — ${{ $('Extract Contract Data').item.json.contractAmount }} — Acestone Development",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1a1a1a;\">Hi {{ $('Extract Contract Data').item.json.firstName }},</h2>\n  <p>We're excited to get started on your project! Please review the contract details below:</p>\n\n  <div style=\"background: #f8f9fa; border-radius: 8px; padding: 20px; margin: 20px 0;\">\n    <h3 style=\"margin: 0 0 12px; color: #1a1a1a;\">Contract Summary</h3>\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr><td style=\"padding: 8px 0; color: #666;\">Total Amount:</td><td style=\"padding: 8px 0; font-weight: bold; text-align: right;\">${{ $('Extract Contract Data').item.json.contractAmount }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #666;\">Deposit ({{ $('Extract Contract Data').item.json.depositPercent }}%):</td><td style=\"padding: 8px 0; font-weight: bold; text-align: right;\">${{ $('Extract Contract Data').item.json.depositAmount }}</td></tr>\n      <tr style=\"border-top: 1px solid #ddd;\"><td style=\"padding: 8px 0; color: #666;\">Balance Due on Completion:</td><td style=\"padding: 8px 0; font-weight: bold; text-align: right;\">${{ Number($('Extract Contract Data').item.json.contractAmount) - Number($('Extract Contract Data').item.json.depositAmount) }}</td></tr>\n    </table>\n  </div>\n\n  <div style=\"background: #f0f9ff; border-left: 4px solid #2563eb; padding: 12px 16px; margin: 16px 0;\">\n    <p style=\"font-weight: bold; margin: 0 0 8px;\">Scope of Work:</p>\n    <p style=\"margin: 0; color: #333;\">{{ $('Extract Contract Data').item.json.scopeOfWork }}</p>\n  </div>\n\n  <p>To accept this contract and proceed, please reply to this email with <strong>\"I accept\"</strong> or call us at <strong>(929) 224-9148</strong>.</p>\n\n  <p style=\"color: #666; font-size: 12px;\">By accepting this contract, you agree to the scope of work described above. A {{ $('Extract Contract Data').item.json.depositPercent }}% deposit is required before work begins. Balance is due upon satisfactory completion.</p>\n\n  <p style=\"color: #666;\">Best regards,<br/>Acestone Development Team</p>\n</div>",
        "options": {}
      },
      "id": "send-contract-email",
      "name": "Send Contract Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@acestonellc.com",
        "toEmail": "admin@acestonellc.com",
        "subject": "=Contract Sent — {{ $('Extract Contract Data').item.json.customerName }} — ${{ $('Extract Contract Data').item.json.contractAmount }}",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif;\">\n  <h2>Contract Sent</h2>\n  <p>Contract for <strong>${{ $('Extract Contract Data').item.json.contractAmount }}</strong> sent to <strong>{{ $('Extract Contract Data').item.json.customerName }}</strong> ({{ $('Extract Contract Data').item.json.customerEmail }}).</p>\n  <p>Deposit required: ${{ $('Extract Contract Data').item.json.depositAmount }} ({{ $('Extract Contract Data').item.json.depositPercent }}%)</p>\n  <p>Waiting for customer acceptance.</p>\n</div>",
        "options": {}
      },
      "id": "notify-admin",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.coreorangelabs.com/api/n8n/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{ $('Extract Contract Data').item.json.leadId }}\",\n  \"crmData\": {\n    \"crmStatus\": \"contract_sent\",\n    \"contractSentAt\": \"{{ $now.toISO() }}\"\n  },\n  \"action\": \"Contract emailed to customer (${{ $('Extract Contract Data').item.json.contractAmount }})\"\n}",
        "options": {}
      },
      "id": "callback-app",
      "name": "Update App CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "CRM Webhook": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Is contract_sent?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is contract_sent?": {
      "main": [
        [{ "node": "Extract Contract Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Contract Data": {
      "main": [
        [
          { "node": "Send Contract Email", "type": "main", "index": 0 },
          { "node": "Notify Admin", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Contract Email": {
      "main": [
        [{ "node": "Update App CRM", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
