docs/n8n-workflows/04-contract-send.json
{"updatedAt":"2026-03-28T10:31:31.571Z","createdAt":"2026-03-28T00:08:26.341Z","id":"Ew5JfL52MPgRO4U0","name":"Acestone CRM — 4. Send Contract","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-contract","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"daa0d049-414c-49ca-8c71-8f58446cb78c","webhookId":"4f651432-a230-49fe-8672-273970c72466"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[460,520],"id":"7c518be0-9054-49a9-b674-23c4b1200fff"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.contract_sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is contract_sent?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"b0205b60-0073-4dce-b1e9-2b50ae957505"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerName","value":"={{ $json.body.lead.fullName }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"contractAmount","value":"={{ $json.body.crmData.contractAmount || $json.body.crmData.detailedEstimate || '0' }}","type":"string"},{"name":"depositPercent","value":"={{ $json.body.crmData.contractDepositPercent || '25' }}","type":"string"},{"name":"scopeOfWork","value":"={{ $json.body.crmData.contractNotes || 'As discussed during consultation.' }}","type":"string"},{"name":"depositAmount","value":"={{ Math.round(Number($json.body.crmData.contractAmount || 0) * Number($json.body.crmData.contractDepositPercent || 25) / 100) }}","type":"string"}]},"options":{}},"name":"Extract Contract Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"a71722a7-328c-42cc-abf9-2b30a2dd5d59"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Contract Data').item.json.customerEmail }}","subject":"=Your Contract — ${{ $('Extract Contract Data').item.json.contractAmount }} — Acestone Development","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Contract Data').item.json.firstName }},</h2><p>We are excited to get started! Please review your contract details:</p><div style=\"background:#f8f9fa;border-radius:8px;padding:20px;margin:20px 0\"><h3 style=\"margin:0 0 12px\">Contract Summary</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#666\">Total Amount:</td><td style=\"padding:8px 0;font-weight:bold;text-align:right\">${{ $('Extract Contract Data').item.json.contractAmount }}</td></tr><tr><td style=\"padding:8px 0;color:#666\">Deposit ({{ $('Extract Contract Data').item.json.depositPercent }}%):</td><td style=\"padding:8px 0;font-weight:bold;text-align:right\">${{ $('Extract Contract Data').item.json.depositAmount }}</td></tr></table></div><div style=\"background:#f0f9ff;border-left:4px solid #2563eb;padding:12px 16px;margin:16px 0\"><p style=\"font-weight:bold;margin:0 0 8px\">Scope of Work:</p><p style=\"margin:0;color:#333\">{{ $('Extract Contract Data').item.json.scopeOfWork }}</p></div><p>To accept, reply with <strong>I accept</strong> or call <strong>(929) 224-9148</strong>.</p><p style=\"color:#666;font-size:12px\">A {{ $('Extract Contract Data').item.json.depositPercent }}% deposit is required before work begins.</p><p style=\"color:#666\">Best regards,<br/>Acestone Development Team</p></div>","options":{}},"name":"Send Contract Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,300],"id":"77acc965-612f-4c3d-9f7e-c6d76338bdc8","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"admin@acestonellc.com","subject":"=Contract Sent — {{ $('Extract Contract Data').item.json.customerName }} — ${{ $('Extract Contract Data').item.json.contractAmount }}","emailType":"html","html":"=<div><h2>Contract Sent</h2><p>Contract for <strong>${{ $('Extract Contract Data').item.json.contractAmount }}</strong> sent to <strong>{{ $('Extract Contract Data').item.json.customerName }}</strong>.</p><p>Deposit: ${{ $('Extract Contract Data').item.json.depositAmount }} ({{ $('Extract Contract Data').item.json.depositPercent }}%)</p></div>","options":{}},"name":"Notify Admin","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,500],"id":"8852e3ed-f7da-4721-92e2-7734668f16b0","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Contract Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"contract_sent\",\"contractSentAt\":\"{{ $now.toISO() }}\"},\"action\":\"Contract emailed to customer (${{ $('Extract Contract Data').item.json.contractAmount }})\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"26bdb30e-49a8-4c4c-9958-6e1e51de7dcc"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Is contract_sent?","type":"main","index":0}]]},"Is contract_sent?":{"main":[[{"node":"Extract Contract Data","type":"main","index":0}]]},"Extract Contract Data":{"main":[[{"node":"Send Contract Email","type":"main","index":0},{"node":"Notify Admin","type":"main","index":0}]]},"Send Contract Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","activeVersionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-03-28T00:08:26.344Z","createdAt":"2026-03-28T00:08:26.344Z","role":"workflow:owner","workflowId":"Ew5JfL52MPgRO4U0","projectId":"ZGD1mLXBH5u7dZho","project":{"updatedAt":"2026-03-18T00:39:52.372Z","createdAt":"2026-03-17T23:47:47.232Z","id":"ZGD1mLXBH5u7dZho","name":"Chad Watson <chad@coreorange.com>","type":"personal","icon":null,"description":null,"creatorId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T10:31:31.573Z","createdAt":"2026-03-28T10:31:31.573Z","versionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","workflowId":"Ew5JfL52MPgRO4U0","nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-contract","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"daa0d049-414c-49ca-8c71-8f58446cb78c","webhookId":"4f651432-a230-49fe-8672-273970c72466"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[460,520],"id":"7c518be0-9054-49a9-b674-23c4b1200fff"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.contract_sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is contract_sent?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"b0205b60-0073-4dce-b1e9-2b50ae957505"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerName","value":"={{ $json.body.lead.fullName }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"contractAmount","value":"={{ $json.body.crmData.contractAmount || $json.body.crmData.detailedEstimate || '0' }}","type":"string"},{"name":"depositPercent","value":"={{ $json.body.crmData.contractDepositPercent || '25' }}","type":"string"},{"name":"scopeOfWork","value":"={{ $json.body.crmData.contractNotes || 'As discussed during consultation.' }}","type":"string"},{"name":"depositAmount","value":"={{ Math.round(Number($json.body.crmData.contractAmount || 0) * Number($json.body.crmData.contractDepositPercent || 25) / 100) }}","type":"string"}]},"options":{}},"name":"Extract Contract Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"a71722a7-328c-42cc-abf9-2b30a2dd5d59"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Contract Data').item.json.customerEmail }}","subject":"=Your Contract — ${{ $('Extract Contract Data').item.json.contractAmount }} — Acestone Development","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Contract Data').item.json.firstName }},</h2><p>We are excited to get started! Please review your contract details:</p><div style=\"background:#f8f9fa;border-radius:8px;padding:20px;margin:20px 0\"><h3 style=\"margin:0 0 12px\">Contract Summary</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#666\">Total Amount:</td><td style=\"padding:8px 0;font-weight:bold;text-align:right\">${{ $('Extract Contract Data').item.json.contractAmount }}</td></tr><tr><td style=\"padding:8px 0;color:#666\">Deposit ({{ $('Extract Contract Data').item.json.depositPercent }}%):</td><td style=\"padding:8px 0;font-weight:bold;text-align:right\">${{ $('Extract Contract Data').item.json.depositAmount }}</td></tr></table></div><div style=\"background:#f0f9ff;border-left:4px solid #2563eb;padding:12px 16px;margin:16px 0\"><p style=\"font-weight:bold;margin:0 0 8px\">Scope of Work:</p><p style=\"margin:0;color:#333\">{{ $('Extract Contract Data').item.json.scopeOfWork }}</p></div><p>To accept, reply with <strong>I accept</strong> or call <strong>(929) 224-9148</strong>.</p><p style=\"color:#666;font-size:12px\">A {{ $('Extract Contract Data').item.json.depositPercent }}% deposit is required before work begins.</p><p style=\"color:#666\">Best regards,<br/>Acestone Development Team</p></div>","options":{}},"name":"Send Contract Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,300],"id":"77acc965-612f-4c3d-9f7e-c6d76338bdc8","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"admin@acestonellc.com","subject":"=Contract Sent — {{ $('Extract Contract Data').item.json.customerName }} — ${{ $('Extract Contract Data').item.json.contractAmount }}","emailType":"html","html":"=<div><h2>Contract Sent</h2><p>Contract for <strong>${{ $('Extract Contract Data').item.json.contractAmount }}</strong> sent to <strong>{{ $('Extract Contract Data').item.json.customerName }}</strong>.</p><p>Deposit: ${{ $('Extract Contract Data').item.json.depositAmount }} ({{ $('Extract Contract Data').item.json.depositPercent }}%)</p></div>","options":{}},"name":"Notify Admin","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,500],"id":"8852e3ed-f7da-4721-92e2-7734668f16b0","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Contract Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"contract_sent\",\"contractSentAt\":\"{{ $now.toISO() }}\"},\"action\":\"Contract emailed to customer (${{ $('Extract Contract Data').item.json.contractAmount }})\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"26bdb30e-49a8-4c4c-9958-6e1e51de7dcc"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Is contract_sent?","type":"main","index":0}]]},"Is contract_sent?":{"main":[[{"node":"Extract Contract Data","type":"main","index":0}]]},"Extract Contract Data":{"main":[[{"node":"Send Contract Email","type":"main","index":0},{"node":"Notify Admin","type":"main","index":0}]]},"Send Contract Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"authors":"Chad Watson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T10:31:31.627Z","id":158,"workflowId":"Ew5JfL52MPgRO4U0","versionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:18.096Z","id":166,"workflowId":"Ew5JfL52MPgRO4U0","versionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:31:31.609Z","id":157,"workflowId":"Ew5JfL52MPgRO4U0","versionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:18.077Z","id":165,"workflowId":"Ew5JfL52MPgRO4U0","versionId":"d1b9b713-491b-46b0-8db5-aa049aca2195","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}]}}