docs/n8n-workflows/05-job-complete-send-survey.json
{
  "name": "Acestone CRM — 5. Job Complete + Send Survey",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "acestone-survey",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "CRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "acestone-survey"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 520]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-survey",
              "leftValue": "={{ $json.event }}",
              "rightValue": "crm.survey_requested",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Is survey_requested?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "leadId", "value": "={{ $json.lead.id }}", "type": "string" },
            { "id": "s2", "name": "customerName", "value": "={{ $json.lead.fullName }}", "type": "string" },
            { "id": "s3", "name": "customerEmail", "value": "={{ $json.lead.email }}", "type": "string" },
            { "id": "s4", "name": "firstName", "value": "={{ $json.lead.fullName.split(' ')[0] }}", "type": "string" },
            { "id": "s5", "name": "surveyUrl", "value": "=https://app.coreorangelabs.com/survey/{{ $json.lead.id }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Survey Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "admin@acestonellc.com",
        "toEmail": "={{ $('Extract Survey Data').item.json.customerEmail }}",
        "subject": "How Did We Do? — Acestone Development",
        "emailType": "html",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1a1a1a;\">Hi {{ $('Extract Survey Data').item.json.firstName }},</h2>\n  <p>We hope you're enjoying your newly completed project! Your satisfaction is our top priority.</p>\n  <p>We'd love to hear about your experience working with Acestone Development. It only takes 30 seconds:</p>\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $('Extract Survey Data').item.json.surveyUrl }}\" style=\"background: #2563eb; color: white; padding: 14px 28px; text-decoration: none; border-radius: 8px; font-size: 16px; font-weight: bold;\">Share Your Feedback</a>\n  </div>\n  <p>Your feedback helps us improve and helps other homeowners find quality contractors.</p>\n  <p style=\"color: #666;\">Thank you for choosing Acestone Development!<br/>The Acestone Team<br/>(929) 224-9148</p>\n</div>",
        "options": {}
      },
      "id": "send-survey-email",
      "name": "Send Survey Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.coreorangelabs.com/api/n8n/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leadId\": \"{{ $('Extract Survey Data').item.json.leadId }}\",\n  \"crmData\": {\n    \"crmStatus\": \"pending_survey\"\n  },\n  \"action\": \"Customer satisfaction survey emailed\"\n}",
        "options": {}
      },
      "id": "callback-app",
      "name": "Update App CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "CRM Webhook": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Is survey_requested?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is survey_requested?": {
      "main": [
        [{ "node": "Extract Survey Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Survey Data": {
      "main": [
        [{ "node": "Send Survey Email", "type": "main", "index": 0 }]
      ]
    },
    "Send Survey Email": {
      "main": [
        [{ "node": "Update App CRM", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}
