docs/n8n-workflows/05-job-complete-send-survey.json
{"updatedAt":"2026-03-28T10:31:31.771Z","createdAt":"2026-03-28T00:08:49.069Z","id":"eimZz19ENIlM4Wph","name":"Acestone CRM — 5. Job Complete + Send Survey","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-survey","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"b3e246af-2a24-44d9-9be8-4c1bc54202d9","webhookId":"3a430dba-2492-4f82-bb7d-2477dce1007d"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[460,520],"id":"715c8e64-62c5-448c-a4ba-2a4b9e40740d"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.survey_requested","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is survey_requested?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"6e0b217e-d606-4fb6-b6a7-7be0cb092782"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"surveyUrl","value":"=https://app.coreorangelabs.com/survey/{{ $json.body.lead.id }}","type":"string"}]},"options":{}},"name":"Extract Survey Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"4b3b042a-ccc1-4d81-ad41-4b00151c3a5c"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Survey Data').item.json.customerEmail }}","subject":"How Did We Do? — Acestone Development","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Survey Data').item.json.firstName }},</h2><p>We hope you are enjoying your newly completed project! Your satisfaction is our top priority.</p><p>We would love to hear about your experience. It only takes 30 seconds:</p><div style=\"text-align:center;margin:30px 0\"><a href=\"{{ $('Extract Survey Data').item.json.surveyUrl }}\" style=\"background:#2563eb;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-size:16px;font-weight:bold\">Share Your Feedback</a></div><p>Your feedback helps us improve and helps other homeowners find quality contractors.</p><p style=\"color:#666\">Thank you for choosing Acestone Development!<br/>The Acestone Team<br/>(929) 224-9148</p></div>","options":{}},"name":"Send Survey Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,300],"id":"c70a62c3-f30c-4193-8b82-921b140cc151","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Survey Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"pending_survey\"},\"action\":\"Customer satisfaction survey emailed\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"0c2ea910-6b2a-44c9-b38a-66ba4587f510"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Is survey_requested?","type":"main","index":0}]]},"Is survey_requested?":{"main":[[{"node":"Extract Survey Data","type":"main","index":0}]]},"Extract Survey Data":{"main":[[{"node":"Send Survey Email","type":"main","index":0}]]},"Send Survey Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"55e3a457-96b6-43e4-a770-8f655e27053b","activeVersionId":"55e3a457-96b6-43e4-a770-8f655e27053b","versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-03-28T00:08:49.073Z","createdAt":"2026-03-28T00:08:49.073Z","role":"workflow:owner","workflowId":"eimZz19ENIlM4Wph","projectId":"ZGD1mLXBH5u7dZho","project":{"updatedAt":"2026-03-18T00:39:52.372Z","createdAt":"2026-03-17T23:47:47.232Z","id":"ZGD1mLXBH5u7dZho","name":"Chad Watson <chad@coreorange.com>","type":"personal","icon":null,"description":null,"creatorId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T10:31:31.772Z","createdAt":"2026-03-28T10:31:31.772Z","versionId":"55e3a457-96b6-43e4-a770-8f655e27053b","workflowId":"eimZz19ENIlM4Wph","nodes":[{"parameters":{"httpMethod":"POST","path":"acestone-survey","responseMode":"responseNode","options":{}},"name":"CRM Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"id":"b3e246af-2a24-44d9-9be8-4c1bc54202d9","webhookId":"3a430dba-2492-4f82-bb7d-2477dce1007d"},{"parameters":{"respondWith":"json","responseBody":"={ \"received\": true }","options":{}},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[460,520],"id":"715c8e64-62c5-448c-a4ba-2a4b9e40740d"},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"crm.survey_requested","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is survey_requested?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[460,300],"id":"6e0b217e-d606-4fb6-b6a7-7be0cb092782"},{"parameters":{"assignments":{"assignments":[{"name":"leadId","value":"={{ $json.body.lead.id }}","type":"string"},{"name":"customerEmail","value":"={{ $json.body.lead.email }}","type":"string"},{"name":"firstName","value":"={{ $json.body.lead.fullName.split(' ')[0] }}","type":"string"},{"name":"surveyUrl","value":"=https://app.coreorangelabs.com/survey/{{ $json.body.lead.id }}","type":"string"}]},"options":{}},"name":"Extract Survey Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,300],"id":"4b3b042a-ccc1-4d81-ad41-4b00151c3a5c"},{"parameters":{"fromEmail":"admin@acestonellc.com","toEmail":"={{ $('Extract Survey Data').item.json.customerEmail }}","subject":"How Did We Do? — Acestone Development","emailType":"html","html":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2>Hi {{ $('Extract Survey Data').item.json.firstName }},</h2><p>We hope you are enjoying your newly completed project! Your satisfaction is our top priority.</p><p>We would love to hear about your experience. It only takes 30 seconds:</p><div style=\"text-align:center;margin:30px 0\"><a href=\"{{ $('Extract Survey Data').item.json.surveyUrl }}\" style=\"background:#2563eb;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;font-size:16px;font-weight:bold\">Share Your Feedback</a></div><p>Your feedback helps us improve and helps other homeowners find quality contractors.</p><p style=\"color:#666\">Thank you for choosing Acestone Development!<br/>The Acestone Team<br/>(929) 224-9148</p></div>","options":{}},"name":"Send Survey Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[900,300],"id":"c70a62c3-f30c-4193-8b82-921b140cc151","credentials":{"smtp":{"id":"JyzhrhKgyaCfN73u","name":"SMTP account"}}},{"parameters":{"method":"POST","url":"https://app.coreorangelabs.com/api/n8n/callback","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"leadId\":\"{{ $('Extract Survey Data').item.json.leadId }}\",\"crmData\":{\"crmStatus\":\"pending_survey\"},\"action\":\"Customer satisfaction survey emailed\"}","options":{}},"name":"Update App CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"id":"0c2ea910-6b2a-44c9-b38a-66ba4587f510"}],"connections":{"CRM Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Is survey_requested?","type":"main","index":0}]]},"Is survey_requested?":{"main":[[{"node":"Extract Survey Data","type":"main","index":0}]]},"Extract Survey Data":{"main":[[{"node":"Send Survey Email","type":"main","index":0}]]},"Send Survey Email":{"main":[[{"node":"Update App CRM","type":"main","index":0}]]}},"authors":"Chad Watson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T10:31:31.861Z","id":160,"workflowId":"eimZz19ENIlM4Wph","versionId":"55e3a457-96b6-43e4-a770-8f655e27053b","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:18.286Z","id":168,"workflowId":"eimZz19ENIlM4Wph","versionId":"55e3a457-96b6-43e4-a770-8f655e27053b","event":"activated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:31:31.806Z","id":159,"workflowId":"eimZz19ENIlM4Wph","versionId":"55e3a457-96b6-43e4-a770-8f655e27053b","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"},{"createdAt":"2026-03-28T10:32:18.265Z","id":167,"workflowId":"eimZz19ENIlM4Wph","versionId":"55e3a457-96b6-43e4-a770-8f655e27053b","event":"deactivated","userId":"baaac4f9-0f4d-4344-837e-72c5daf183ce"}]}}